@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
/*Nastvení backround*/
section
{
    padding: 100px;
}
.banner
{
    position: relative;
    min-height: 100vh;
    background: url('../img/Portfolio.jpg') no-repeat;
    background-size:cover;
    background-position: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner h2
{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}
.banner h2 span
{
    font-weight: 700;
    font-size: 1.5em;
}
.banner h3{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}
.btn
{
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}
/*Nastavení header*/
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky
{
    background: #fff;
    padding: 20px 100px;
    transition: 0.5s;
}
header .logo
{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header.sticky .logo
{
    color: #111;
}
header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}
header.sticky ul li a
{
    color: #111;
}
/*Nastavení sekce O mně*/
.heading
{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}
.heading h2
{
    font-weight: 600;
    font-size: 30px;
}
.content
{
    display: flex;
    justify-content: space-between;
}
.contentBx
{
    padding-right: 30px;
}
.contentBx h3
{
    font-size: 24px;
    margin-bottom: 10px;
}
.w50
{
    min-width: 40%;
}
img
{
    max-width: 100%;
}
.services
{
    line-height: 25px;
    background: #111;
}
i
{
    color: #000;
    font-size: 120px;
}
.heading.white
{
    color: #fff;
}
.services .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.services .content .servicesBx
{
    color: #fff;
    line-height: 20px;
    padding: 2.5em 1.25em;
    background: #222;
    max-width: 21.25em;
    height: 23.125em;
    margin: 20px;
    text-align: center;
    transition: 0.5s; 
}
.services .content .servicesBx:hover
{
    background: #2196f3;
    cursor: pointer;
}
.services .content .servicesBx img
{
    max-width: 80px;
    filter: invert(1);
}
.services .content .servicesBx h2
{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.services h2
{
    margin-bottom: 20px;
}

/*Galerie*/

.product img
{
    max-width: 100%;
    height: auto;
}
.photo
{
    background: #fff;
    padding: 20px 0;
}
.gallery
{
    padding: 20px 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
}
.gallery ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.gallery ul li
{
    list-style: none;
    background: #eee;
    padding: 12px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}
.gallery ul li.active
{
    background: #03a9f4;
    color: #fff;
}
.product
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 10px;
    padding: 0 10px;
}
.product .itemBox
{
    display: grid;
    position: relative;
    width: 400px;
    height: 200px;
    margin: 5px;
    display: block;
}
.product .itemBox.hide
{
    display: none;
}
.product .itemBox img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Nastavení sekce životopis*/
section.curiculum-vitae
{
    background: #7F8487;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    position: relative;
    width: 100%;
    max-width: 100%;
    min-height: 1000px;
    margin: 50px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}
.container .left-side
{
    position: relative;
    background: #222;
    padding: 40px;
}
.profileText
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255, 255, 0.2);
}
.profileText .imgBx
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profileText .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileText h2
{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profileText h2 span
{
    font-size: 0.8em;
    font-weight: 300;
}
.contactInfo
{
    padding-top: 40px;
}
.contactInfo ul
{
    position: relative;
}
.contactInfo ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfo ul li i
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #08a1e7;
}
.contactInfo ul li span
{
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    font-weight: 300;
    text-align: left;
    margin-bottom: 15px;
}
.contactInfo.education li
{
    margin-bottom: 15px;
}
.contactInfo.education h5
{
    color: #08a1e7;
    font-weight: 500;
}
.contactInfo.education h4:nth-child(2)
{
    color: #fff;
    font-weight: 500;
}
.contactInfo.education h4
{
    color:#fff;
    font-weight: 300;
}
.contactInfo.language .percent
{
    position: relative;
    width: 100%;
    height: 6px;
    background: #030a0e;
    display: block;
    margin-top: 5px;
}
.contactInfo.language .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}
.title
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.container .right-side
{
    position: relative;
    background: #fff;
    padding: 40px;
}
.about
{
    margin-bottom: 50px;
}
.about:last-child
{
    margin-bottom: 0;
}
.title2
{
    color: #222;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.about p
{
    color: #333;
}
.about .box
{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .year_company
{
    min-width: 200px;
}
.about .box .year_company h5
{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}
.about .box .text h4
{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}
.skills .box
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    justify-content: center;
    align-items: center;
}
.skills .box h4
{
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}
.skills .box .percent
{
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}
.skills .box .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}
.interest ul
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.interest ul li
{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px;
}
.interest ul li .fa
{
    color: #03a9f4;
    font-size: 18px;
    width: 20px;
}
/*Nastavení kontak a formulář*/
.contact
{
    background: #111;
}
.formBx
{
    min-width: 60%;
}
.formBx form
{
    display: flex;
    flex-direction: column;
}
.formBx form h3,
.contactInfo h3
{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.formBx form input,
.formBx form textarea
{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    resize: none;
}
.formBx form textarea
{
    min-height: 200px;
}
.formBx form input::placeholder,
.formBx form textarea::placeholder
{
    color: #999;
}
.formBx form input[type="submit"]
{
    max-width: 100px;
    background: #2196f3;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 10px;
}
.contactInfo
{
    min-width: 40%;
}
.contactInfoBx
{
    position: relative;
}
.contactInfoBx .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contactInfoBx .box .icon
{
    min-width: 40px;
    padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}
.icon .fa{
    color: #fff;
}
.contactInfoBx .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.contactInfoBx .box .text h3
{
    font-weight: 500;
    color: #2196f3;
    margin-bottom: 0;
}
footer
{
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}
/*media queries*/
@media (max-width: 1150px)
{
    header,
    header.sticky
    {
        padding: 20px 50px;
        z-index: 1000;
    }
    .menu
    {
        position: fixed;
        top: 67.59px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    .menu.active
    {
        left: 0;
    }
    header ul li a
    {
        color: #111;
        font-size: 26px;
        margin: 15px;
    }
    .toggle
    {
        width: 40px;
        height: 40px;
        background: url('../img/hamburger-menu-icon-png-white-10.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
    .toggle.active
    {
        background: url('../img/PngItem_4856652.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    } 
    header.sticky .toggle
    {
        filter: invert(1);
    }
    section
    {
        padding: 100px 50px;
    }
    .banner
    {
        padding: 150px 50px 100px;
    }
    .banner h2
    {
        font-size: 1.5em;
    }
    .banner h3
    {
        font-size: 1em;
    }
    .btn
    {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }
    .heading h2
    {
        font-size: 24px;
    }
    .contentBx h3
    {
        font-size: 20px;
    }
    .content
    {
        flex-direction: column;
    }
    .w50
    {
        margin-bottom: 20px;
    }
    .contentBx
    {
        padding-right: 0;
        margin-right: 0;
    }
    .services .content .servicesBx
    {
        margin: 10px;
    }
}
@media (max-width: 1000px)
{
    .container
    {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .interest ul
    {
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 840px){
    .product .itemBox{
        width: 100%;
    }
}
@media (max-width: 600px)
{
    .about .box
    {
        flex-direction: column;
    }
    .about .box .year_company
    {
        min-width: 200px;
        margin-bottom: 5px;
    }
    .interest ul
    {
        grid-template-columns: repeat(1,1fr);
    }
    .skills .box
    {
        grid-template-columns: repeat(1,1fr);
    }
}

@media (max-width: 500px)
{
    section
    {
        padding-left: 10px;
        padding-right: 10px;
    }
    section.about
    {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    section.banner
    {
        position: relative;
        min-height: 100vh;
        background: url('../img/Portfoliomob.jpg') no-repeat;
        background-size:cover;
        background-position: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
}